#login-body {
    background-color: grey;
    padding-top: 60px;
}

body{
    background-color: grey;
}

.profile-card{
    text-align: center;
}


.item{
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

.value{
    padding-left: 15px;
    padding-bottom: 10px;
}

.details{
    padding: 10px;
}

.login-card{
    background-color: white;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 6px;
}

.txt-b{
    font-weight: bold;
}

.login-img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    
}

.input-control{
    width: 90%;
    height: 25px;
    padding: 12px;
    background-color: rgb(221, 211, 211);
    color: gray;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.input-control:hover{
    border: 1px solid cornflowerblue;
}

.input-control:focus {
    border: 1px solid cornflowerblue;
    outline: none;
}

.error{
    color: red;
}

.success{
    color: green;
}


.main{
    padding-left:20px;
    padding-right: 20px;
  }
  
  a{
    text-decoration: none;
  }
  .center {
    text-align: center;
  }

  nav{
    width: 100%;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    padding-top: 12px;
  }

  .nav-img{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
  }
  
  .nav-ul{
    list-style-type: none;
    
  }
  
  .right{
    float: right;
  }
  
  .left{
    float: left;
  }
  
  .txt-fa{
    padding-right: 9px;
  }
  
  .nav-li{
    display: inline ;
    padding-right: 15px;
  }
  
  .quiz-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
  

.login-btn{
    padding: 12px;
    cursor: pointer;
    width: 70%;
    background-color: blue;
    border-radius: 30px;
    border: none;
    color: white;
}


.ed{
    color: blue;
}

.del {
    color: red;
}

.login-btn:hover {
    border: 1px solid blue;
}

.login-btn:focus, .btn {
    border: none;
    outline: none;
}

.fa-spinner{
    color: blue;
}

.suc{
    color: blue;
}



/* Media queries */

/*Desktop */
@media only screen and (min-width: 600px) {
    .login-card{
        width: 400px;
    }
}

/* Tablet and mobile */
@media only screen and (max-width: 600px) {
    #login-body{
        padding-left: 20px;
        padding-right: 20px;
    }
}